

    <h1> About </h1>
    <div id='about'>
    	<span id='hi'>Hi</span>
        <p><b>
        I'm Maya Kreidieh.
        </b></p><p>
        I'm a graduate student at the Human Computer Interaction Institute at Carnegie Mellon. Before that, I studied Computer and Communication Engineering at the American University of Beirut.
        </p><p>
        I'm passionate about <span style='font-family:"Didot"; font-weight:100; font-style:italic;font-size:1.05em;'>visualizing data </span> and designing <span style='font-family:"Didot"; font-weight:100; font-style:italic;font-size:1.05em;'>meaningful experiences</span> around it.
        </p><p>
        I love open data and sharing.
        </p><p>
<!--         Let's chat!
 --><!--         Let's make something together!
 -->        </p>

        <ul id='contact'>
    <a href="mailto:mayakreidieh@gmail.com">
               <li class='social'> <i class="fa fa-envelope fa-x"></i> </li>
            </a>
            <a href="http://linkedin.com/in/mayakreidieh">
               <li class='social'> <i class="fa fa-linkedin-square fa-x"></i> </li>
            </a>
            <a href="http://twitter.com/acrylc">
               <li class='social'> <i class="fa fa-twitter fa-x"></i> </li>
            </a>
                 <a href="http://pinterest.com/acrylc">
               <li class='social'> <i class="fa fa-pinterest fa-x"></i> </li>
            </a>
                  <a href="http://dribbble.com/acrylc">
               <li class='social'> <i class="fa fa-dribbble fa-x"></i> </li>
            </a>
            <a href="http://github.com/acrylc">
               <li class='social'> <i class="fa fa-github fa-x"></i> </li>
            </a>        	
        </ul>
    </div>

<script type='text/javascript'> window.history.pushState("object or string", "Title", "/"); </script>