
<% layout('layout') -%>
    <h1> About </h1>
    <p id='about'>
    	Hi! I'm Maya, a graduate student at the Human Computer Interaction Institute at Carnegie Mellon. I'm intrigued by the data around us. I work on projects to visualize, derive value from and create meaningful experiences around this data. 
    </p>
    <p id='contact'>
    	<ul>
    		<li>Email</li>
    		<li>Github</li>
    		<li>Linkdin</li>
    		<li>Pinterest</li>
    		<li>Facebook?</li>
    	</ul>
    </p>
