<!DOCTYPE html>
<html>
   
   <head>
      <title>Maya Kreidieh</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
   </head>
   
   <body>

      <nav id='main-navbar'>
         <ul>
            <a href='/projects'> <li> WORK +

               <ul id='projects-nav'>
                  <li>ThingsJS</li>
                  <li>Memory Shells</li>
                  <li>LADE</li>
                  <li>Rigby</li>
                  <li>Lamba Labs</li>
               </ul>

            </li> </a>
            <a href='/play'> <li> PLAY -</li> </a>
            <li> BLOG </li>
            <a href='/about'> <li> ABOUT </li> </a>
         </ul>
      </nav>

      <%- body %>
   </body>

</html>