<!DOCTYPE html>
<html>
   
   <head>
      <title>Maya Kreidieh</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
      <link rel="icon"  type="image/x-icon" href="/images/fav.png">
      <link rel="shortcut icon"  type="image/png" href="/images/fav.png">

   </head>
      
   <body>
      <script src = '/javascripts/jquery.js'></script>

      <div id='screen'></div>
      <nav id='main-navbar'>

         <ul>
            <a class='in-nav' id='about' >
               <li class='nav-li' > MAYA</li>
            </a>
            <a class='in-nav' id='projects'>
               <li class='nav-li' href='/projects'> PROJECTS</li>
            </a>
            <a class='in-nav' href='/pdf/resume.pdf'>
               <li class='nav-li'> RESUME</li>
            </a>
            <a class='in-nav' href="mailto:mayakreidieh@gmail.com">
               <li class='nav-li social'> <i class="fa fa-envelope fa-x"></i> </li>
            </a>
          <!--   <a class='in-nav' href="http://linkedin.com/in/mayakreidieh">
               <li class='nav-li social'> <i class="fa fa-linkedin-square fa-x"></i> </li>
            </a> -->
            <a class='in-nav' href="http://twitter.com/acrylc">
               <li class='nav-li social'> <i class="fa fa-twitter fa-x"></i> </li>
            </a>
            <a class='in-nav' href="http://github.com/acrylc">
               <li class='nav-li social'> <i class="fa fa-github fa-x"></i> </li>
            </a>

         </ul>
      </nav> 

 

      <div id='content'>

      </div>

    <script type='text/javascript'>
              
    $( window ).load(function() {


        var t = "<%- type %>"
        // // add click handler to about-link
        $('.in-nav').on('click', function() {
            navTo = $(this)[0].id;
            $('#content').fadeOut(50).delay(00).empty;
            setTimeout(function() {
                $.get('/'+navTo+'2', function(data) {     
                    // fadeout content block and empty page content
                    // add data from /about to content and fadein
                    $('#content').html(data).fadeIn(310);
                });
            }, 50);
        });
        
        if ( t!='project'){ 

            $.get( '/'+t+'2', function(data) {     
                $('#content').html(data).fadeIn(800);
            });

        }
        
        if ( t=='project'){ 
            
            var k = "<%- key %>"
            $.get( '/projects2/'+k, function(data) {     
                $('#content').html(data).fadeIn(800);
            });
        }

        });
      </script>

   </body>




</html>

