
<% layout('layout') -%>
    <h1> Projects </h1>

    <ul id='projects-grid'>
    	
    	<li id='project'> Grow: An ipad app for the urban gardener </li> 
    	<li id='project'> PicoSpaces: A touchscreen from off the shelf parts </li> 
    	<li id='project'> Hayda Ra2yna: A magazine curated by citizen journalists </li> 
    	<li id='project'> MTI Whisker	</li> 
    	<li id='project'> Flock </li> 
    	<li id='project'> TicTag </li> 
    	<li id='project'> Nour's Project </li> 
    	<li id='project'> Avant Garde Poster </li> 
    	<li id='project'> Farra Website </li> 
    	<li id='project'> MediGlow </li> 
    	<li id='project'> Pixelate Me </li> 
    	<li id='project'> Experiments in Generative Art </li> 
    	<li id='project'> Typographic Verses </li> 


	</ul>