
<% layout('layout') -%>
    <h1> Projects </h1>

    <ul id='projects-grid'>
    	
    	<li id='project'> ThingsJS	</li> 
    	<li id='project'> Memory Shells </li> 
    	<li id='project'> Lebanon Open Data Platfrom </li> 
    	<li id='project'> Rigby </li> 
    	<li id='project'> Lamba Labs </li> 

	</ul>