
<% layout('layout') -%>


    <ul id='projects-grid'>
	    	<h1> PROJECTS </h1>

	    <% for(var i=0;i<projects_overview.length;i++){ %>

	    	<a href = '/projects/<%=projects_overview[i].url%>'
	    	<li class='project-li'>
	    		<img src='/images/<%=projects_overview[i].img%>'>
	    		<div class='overlay'>
	    			
	    			<div id='t'> <%=projects_overview[i].name%> </div>

	    		</div>
	    	</li>
	    	</a>
	    <% } %>

	</ul>
   
