$break-small: 320px;
$break-large: 1200px;
// fonts
@font-face {
font-family: Didot;
src: url("/fonts/Didot.ttc");
}

@font-face {
font-family: 'Proxima Nova';
src: url("/fonts/proxima/ProximaNova-Light.otf");
font-weight:100;
}

@font-face {
font-family: 'Proxima Nova';
src: url("/fonts/proxima/ProximaNova-Regular.otf");
font-weight:300;
}

@font-face {
font-family: 'Proxima Nova';
src: url("/fonts/proxima/ProximaNova-Bold.otf");
font-weight:700;
}

@font-face {
font-family: 'Proxima Nova';
src: url("/fonts/proxima/ProximaNova-Black.otf");
font-weight:800;
}

@font-face {
font-family: 'Futura LT';
src: url("/fonts/futura/FuturaLT-Light.ttf");
font-weight:100;
}

@font-face {
font-family: 'Futura LT';
src: url("/fonts/futura/FuturaLT.ttf");
font-weight: 300;
}


@font-face {
font-family: 'Futura LT';
src: url("/fonts/futura/FuturaLT-Bold.ttf");
font-weight: 700;
}

$font1 : 'Hammersmith One';
$font1 : 'Futura LT';
$font2 : 'Abril Fatface';
$font2 : 'Aleo';
$font2 : 'Open Sans';
$font2 : 'Raleway';

@import "compass/css3/transition";
@import "compass/css3";

$red: rgb(240,40,80);
$red: rgb(210,25,59);

::selection {
	background: $red; /* Safari */
	color:white;
	}
::-moz-selection {
	background: $red; /* Firefox */
}



#site{
	font-weight: 700;
	color: #1B1F8F;
	// color: rgb(150,150,160);
	color:rgb(120,130,140);
}

#content{
	display:none;
}