
@font-face {
font-family: Abril;
src: url("/fonts/AC.otf") format("opentype");
}
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);
@import url(http://fonts.googleapis.com/css?family=Aleo);
@import url(http://fonts.googleapis.com/css?family=Arvo);

$font2 : 'Aleo';

#summary{
	position:relative;
	// border-top: 5px solid black;
	// display:inline-block;
	// padding: 5px 10px 10px 10px;
	margin: 0;
	font-weight:100;
	line-height:18px;
	left:0px;
	text-align:left;
	font-size:14px;
	bottom:0px;
	text-align:left ;
	// width: 820px;

	#label{
		margin-top:3px;
		font-weight: 700;
		font-size: 12px;
		text-align: left;
		display: inline-block;
		letter-spacing: 1px;

	}
}
#sub-sum{
	// padding: 0 0 0 15px ;
	text-align:left;
	letter-spacing:1px;
	display:block;
}

#description{
	right:0px;
	display:inline-block;
	width: 600px;
	top:0px;
	margin:0 0 0 100px;
	padding:0;
	text-align:left;
	font: 20px  'Helvetica Neue' ;
	font-weight:100;
}

#text{
	margin: 0;
	padding:0;
	position:relative;
	// height:100%;
	width: 45%;
	top:0px;
	position:fixed;
	height:100%;
}

#text-inner{
	margin:0 auto;
	width: 50%;
	margin-top:25%;
	padding-left: 2px;

	h1{

		font-size: 2.5em;
		line-height:0.8em;
		font-family: Baskerville;
		font-weight: 900;
		// font-family: Abril;
		// font-family: 'Playfair Display';
		// font-weight:900;
		padding:0;
		margin:0;
		letter-spacing: 1px;
		color: black;
		margin-bottom:20px;
		font-stretch: 10px;
		font-family: 'Abril Fatface';
		 // text-transform: uppercase;
		// text-align: center;
	}
	h2{
		padding:0;
		margin:5px 0 10px 0;
		font-family:$font2;
		font-size: 0.91em;
		font-weight: 300;
		width:100%;
		color: gray;
		// color: rgb(110,110,110);
		color: black;

	}
	// border: 3px solid black;
}

#sec{
	// display:block;
	// border-top: 2px solid black;
	vertical-align:top;
	margin-right: 20px;
	margin-top:10px;
	display:inline-block;
	// padding:5px;
	position:relative;
	width:auto;
	max-width:100px;
}
#sub-sec{
	// display: inline-block;
	vertical-align: top;
	float:left;
}

.pix-img{
	background-color:black;
	height:90%; margin:5%;padding:0px;
	position:relative;
}
#caption{
	text-align:right;
	width:100%;
	position:relative;
	border-top:8px solid black;
	// border-bottom:5px solid black;
	margin-top:20px;
	padding: 30px 0 20px 0;
	letter-spacing:0.5px;
	line-height: 1.3em;
	font-family: $font2;
	font-weight:300;
	font-size: 0.91em;
	color: black;
		box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.caption-txt{
	position:absolute;
	width:100%;
	height:auto;
	min-height:100px;
	top:50px;
	// left:50px;
	display:none;
	margin-top:30px;
}