#summary{
	position:relative;
	border-top: 5px solid black;
	display:inline-block;
	// padding: 5px 10px 10px 10px;
	margin: 0;
	font-weight:100;
	line-height:25px;
	left:0px;
	text-align:left;
	font-size:16px;
	bottom:0px;
	text-align:left ;
	width: 320px;

	#label{
		margin-top:3px;
		font-weight: 700;
		font-size: 13px;
		text-align: left;
		display: inline-block;

	}
}
#sub-sum{
	padding: 0 0 0 15px ;
}

#description{
	right:0px;
	display:inline-block;
	width: 600px;
	top:0px;
	margin:0 0 0 100px;
	padding:0;
	text-align:left;
	font: 20px  'Helvetica Neue' ;
	font-weight:100;
}

#text{
	margin: 0;
	padding:0;
	position:absolute;
	height:100%;
	width: 40%;
	top:0px;

}

#text-inner{
	position: absolute;
	bottom:75px;
	right:0px;
	width: 65%;

	h1{
		font-size: 1.7em;
	}
	h2{
		font-size: 1.2em;
		font-weight: 300;
	}
}

#sec{
	display:block;
	// border-top: 2px solid black;
	width: 100%;
	// padding:5px;
}
#sub-sec{
	width:49%;
	display: inline-block;
	padding:0;
	margin:0;
	vertical-align: top
}