#summary{
	position:relative;
	border-top: 3px solid black;
	display:inline-block;
	padding: 5px 10px 10px 10px;
	margin: 0;
	font-weight:100;
	line-height:25px;
	left:0px;
	text-align:left;
	font-size:16px;

	#label{
		margin-top:3px;
		font-weight: 700;
		font-size: 13px;
		display: inline-block;
	}
}
#sub-sum{
	padding: 0 25px 0 25px;
}

#description{
	right:0px;
	display:inline-block;
	width: 600px;
	top:0px;
	margin:0 0 0 100px;
	padding:0;
	text-align:left;
	font: 20px  'Helvetica Neue' ;
	font-weight:100;

}

#text{
	margin: 0 auto;
	text-align:center;
}